{% extends "ipho_marking/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block extra-head %}
{% endblock %}

{% block pageheader %}<h1>Delegation detailed marking</h1>{% endblock %}



{% block page-content %}

  <div>
    {% for type, message in msg %}
    <div class="alert {{ type }}">{{ message|safe }}</div>
    {% endfor %}
  </div>

    <h2>Student {{ student.code }}</h2>

    <h3> {{ exam.name }} - {{ question.name }}</h3>

    {% if form %}
    <form method="post">
      {% csrf_token %}
      <table class="table table-striped">
        <tr>
          <th>Subquestion</th>
          <th>Points</th>
        </tr>
        {{ form.as_table }}
      </table>
      <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
    {% endif %}

    {% if markings %}
    <table class="table table-striped">
      <tr>
        <th>Subquestion</th>
        <th>Official</th>
        <th>Delegation</th>
        <th>Final</th>
      </tr>
      {% for m, points in markings %}
      <tr>
        <td><strong>{{ m.name }} ({{ m.max_points }})</strong></td>
        <td>{{ points.O.0.points|default_if_none:'-' }}</td>
        <td>{{ points.D.0.points|default_if_none:'-' }}</td>
        <td>{{ points.F.0.points|default_if_none:'-' }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <hr />
    <h3>Scans of exam</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          {% for doc in documents %}
            {% if doc.scan_file %}
            <a class="list-group-item" href="{% url 'exam:scan-exam-pos-student' exam_id=exam.pk student_id=student.pk position=question.position %}">
              <i class="fa fa-file-pdf-o"></i>
              Download
              <span class="pull-right"><i class="fa fa-angle-double-right"></i></span>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

</div>

{% endblock %}
