{% extends "ipho_marking/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load editor_extras %}

{% block extra-head %}
{% endblock %}

{% block pageheader %}<h1>Results</h1>{% endblock %}

{% block page-content %}

  <h2>Confirm points for {{ exam.name }}</h2>

  <p class="lead">You need to confirm the marking of your delegation before you can see the points assigned by the official markers.</p>

  {% for question in questions %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ question.name }}</h2>
      </div>

      <table class="table table-strided">
        <tr>
          <th>Student</th>
          {% for item in metas|lookup:question.pk %}
            <th>{{ item.name }}</th>
          {% endfor %}
        </tr>
        {% regroup markings|lookup:question.pk by student as markings_list %}
        {% for marking in markings_list %}
        <tr>
          <td>{{ marking.grouper.first_name }} {{ marking.grouper.last_name }}  ({{ marking.grouper.code }})</td>
          {% for item in marking.list %}
            <td>{{ item.points|default_if_none:"-" }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}

  <hr />

  <form method="post">
    {% csrf_token %}
    <div class="alert {% if form_error %}alert-danger{% else %}alert-info{% endif %}">
        <div class="checkbox">
            {% if form_error %}
                <div class="help-block">{{ form_error|safe }}</div>
            {% endif %}
          <label>
            <input type="checkbox" autocomplete="off" name="agree-submit"> I confirm my version of the markings.
          </label>
        </div>
    </div>

    <div class="pull-right">
      <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Confirm</buton>
    </div>

  </form>

{% endblock %}

{% block extra-script %}
{% endblock %}
