{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
    .with-logo {
    	background: #eee url('{% static "logo_square.png" %}') center right no-repeat;
    	-webkit-background-clip: padding-box;
    	background-clip: padding-box;
    	background-origin: content-box;
    	-webkit-background-origin: content-box;
        background-size: 205px 200px;
/*    	width: 100%;
    	height: 100%;*/
    }
    </style>

<div class="container">
  <div class="jumbotron with-logo hidden-sm hidden-xs">
      <h1>Exam Tools</h1>
      <p>
          Supporting the academic work of the physics olympiads.
      </p>
  </div>
  <div class="jumbotron hidden-lg hidden-md">
      <h1>Exam Tools</h1>
      <p>
          Supporting the academic work of the physics olympiads.
      </p>
  </div>
</div> <!-- /container -->

<div class="container">
    <div class="row">
        <div class="col-md-9">
          <h2>Welcome</h2>
          <p>
              During this year's edition we will use for the first time an entirely web-based management of the exams. Exam feedbacks, translations, printing, voting, corrections and ranking are among the features of this new tool.
          </p>
          <p>
              During the registration process you will need to confirm that your delegation will join with at least one supported notebook computer, and that you were successfully able to translate the test exams. Note that the organizers will not provide any notebooks or workstations to the delegations (except with prior arrangement).
          </p>

          {% if DEMO_MODE %}
          <p>Within this demo version you can perfom the translation and submission of previous years' exams.</p>
          {% endif %}
          <h3>Step-by-step guide</h3>
          <p>To guide you through the translation process, we prepared a step-by-step guide which explains the basic steps needed for testing the your notebook.</p>
          {% if DEMO_MODE %}
          <p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'exam:wizard' %}">Try it now!</a></p>
          {% else %}
          <p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'exam:wizard' %}">Get started!</a></p>
          {% endif %}
          <hr />

          <p><strong>Navigation:</strong> Below you find a summary of the exams tools structure. The same navigation is available in the upper bar on all pages.</p>

          <div class="row">
              <div class="col-sm-4">
                  <h3>Exam</h3>
                  <ul>
                    {% if perms.ipho_core.is_delegation %}
                      <li>
                          <h4>Step-by-step guide</h4>
                          <ul>
                              <li>
                                <a href="{% url 'exam:wizard' %}">Get started!</a>
                              </li>
                          </ul>
                      </li>

                      <li>
                          <h4>Translations</h4>
                          <ul>
                              <li>
                                  <a href="{% url 'exam:language-list' %}">
                                      Define languages
                                  </a>
                              </li>
                              <li>
                                  <a href="{% url 'exam:list' %}">
                                      Your translations
                                  </a>
                              </li>
                              <li>
                                  <a href="{% url 'exam:submission-exam-list' %}">
                                      Final submission
                                  </a>
                              </li>
                          </ul>
                      </li>
                      {% endif %}
                      <li>
                          <h4>All translations</h4>
                          <ul>
                              <li>
                                  <a href="{% url 'exam:list-all' %}">
                                      View all translations
                                  </a>
                              </li>
                          </ul>
                      </li>

                      <li>
                          <h4>Exam feedbacks</h4>
                          <ul>
                              <li>
                                  <a href="{% url 'exam:feedbacks-list' %}">
                                      Submit feedbacks
                                  </a>
                              </li>
                          </ul>
                      </li>

                  </ul>

              </div>

              <div class="col-sm-4">
                {% if perms.ipho_core.is_delegation %}
                <h3>Results</h3>
                <ul>
                    <li>
                        <a href="{% url 'marking:delegation-summary' %}">
                            View and submit marks
                        </a>
                    </li>
                </ul>
                {% endif %}
                {% if perms.ipho_core.can_vote %}
                  <h3>Voting</h3>
                  <ul>
                      <li>
                          <a href="{% url 'poll:voterIndex' %}">
                              Submit feedbacks
                          </a>
                      </li>
                  </ul>
                {% endif %}
              </div>

              <div class="col-sm-4">
                <h3>Downloads</h3>
                <ul>
                    <li>
                        <a href="{% url 'download:main' %}">
                            View and download resources
                        </a>
                    </li>
                </ul>

                <h3>Print</h3>
                <ul>
                    <li>
                        <a href="{% url 'print:main' %}">
                            Print documents
                        </a>
                    </li>
                </ul>
              </div>

          </div>


        </div>
        <div class="col-md-3">
          <h2>Help</h2>
          <p>If you need help with the exam tools, please contact a Leader Guide or IT Staff member. For general feedback or bug reports, you can also contact us at <br />
              <a href="mailto:exam-tools-users@oly-exams.org"><i class="fa fa-envelope-o"></i> exam-tools-users@oly-exams.org</a>.</p>

          <h2>User guide</h2>
          <p>Please refer to the documentation section for a detailed user guide which explains the exam tools and how to perfom a test exam translation required by the registration process.</p>
          <p><a class="btn btn-default" href="{{ DOCS_URL }}">View the docs <i class="fa fa-angle-double-right"></i></a></p>

        </div>
    </div>

</div> <!-- /container -->


{% endblock %}
