{% load static %}
{% for fb in feedbacks %}
<tr>
    <td>{{ fb.pk }}</td>
    <td>
      {% if perms.ipho_core.is_staff %}
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
            {{ fb.status_display }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% for k,v in status_choices %}
            <li class="{% if k == fb.status %}active{% endif %}"><a href="{% url 'exam:feedback-set-status' status=k feedback_id=fb.pk %}">{{ v }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        {{ fb.status_display }}
      {% endif %}
    </td>
    <td>{{ fb.delegation__country }}</td>
    <td>{{ fb.question__name }}</td>
    <td>{{ fb.part }}</td>
    <td>{{ fb.comment }}</td>
    <td>{{ fb.timestamp }}</td>
    <td>
      <div class="btn-toolbar">
        <a href="{% url 'exam:feedback-like' status='L' feedback_id=fb.pk %}" class="btn btn-info {{ fb.enable_likes|yesno:',disabled' }}">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          {% if fb.num_likes %}
          <span class="badge">{{ fb.num_likes }}</span>
          {% endif %}
        </a>
        <a href="{% url 'exam:feedback-like' status='U' feedback_id=fb.pk %}" class="btn btn-warning {{ fb.enable_likes|yesno:',disabled' }}">
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
          {% if fb.num_unlikes %}
          <span class="badge">{{ fb.num_unlikes }}</span>
          {% endif %}
        </a> <!-- btn-toolbar -->
    </td>
</tr>
{% endfor %}
