<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Oly Exams Team">
    <meta name="google-site-verification" content="zqUrYerHwOScwmLIi5QyzGlA6gQn7DaG4idgsqq3_7U" />

	<link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" href="{% static "favicon-32x32.png" %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static "favicon-16x16.png" %}" sizes="16x16">
	<link rel="manifest" href="{% static "manifest.json" %}">
	<link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

    <title>{% block head-title %}Exam Tools{% endblock %}</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    {% block extra-head %}{% endblock %}

    <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    </style>
  </head>

  <body>

      {% if DEMO_MODE %}
      <div class="alert alert-info" role="alert"><div class="container"><strong>DEMO VERSION.</strong> This is a demo version of the Exam Tools. (v{{ VERSION }} - {{ VERSION_DATE }})</div></div>
      {% endif %}
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Exam Tools</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exam <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% if perms.ipho_core.is_delegation %}
                  <li class="dropdown-header">Step-by-step guide</li>
                  <li><a href="{% url 'exam:wizard' %}">Get started!</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Translations</li>
                  <li><a href="{% url 'exam:language-list' %}">Define languages</a></li>
                  <li><a href="{% url 'exam:list' %}">Your translations</a></li>
                  <li><a href="{% url 'exam:submission-exam-list' %}">Final submission</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  <li class="dropdown-header">All translations</li>
                  <li><a href="{% url 'exam:list-all' %}">View all translations</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Exam feedbacks</li>
                  <li><a href="{% url 'exam:feedbacks-list' %}">Submit feedbacks</a></li>
                </ul>
              </li>

              {% if perms.ipho_core.is_delegation %}
              <li><a href="{% url 'marking:delegation-summary' %}">Results</a></li>
              {% endif %}
              {% if perms.ipho_core.can_vote %}
              <li><a href="{% url 'poll:voterIndex' %}">Voting</a></li>
              {% endif %}
              <li><a href="{% url 'download:main' %}">Downloads</a></li>
              <li><a href="{% url 'print:main' %}">Print</a></li>

              {% if perms.ipho_core.is_staff or perms.ipho_core.is_marker or perms.ipho_core.is_printstaff %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin tools <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% if perms.ipho_core.is_staff %}
                  <li class="dropdown-header">Exam</li>
                  <li><a href="{% url 'exam:admin' %}">Exam management</a></li>
                  <li><a href="{% url 'exam:figures' %}">Figures management</a></li>
                  <li><a href="{% url 'exam:submission-summary' exam_id=0 %}">Submission summary</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Feedbacks</li>
                  <li><a href="{% url 'exam:admin-feedbacks-export-main' %}">Export feedbacks</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Voting</li>
                  <li><a href="{% url 'poll:staffIndex' %}">Voting management</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  {% if perms.ipho_core.is_printstaff %}
                  <li class="dropdown-header">Printing</li>
                  <li><a href="{% url 'exam:bulk-print' %}">Bulk print</a></li>
                  <li><a href="{% url 'exam:upload-scan' %}">Upload scans</a></li>
                  <li><a href="{% url 'exam:extra-sheets-select-exam' %}">Generate extra sheets</a></li>
                  {% endif %}
                  {% if perms.ipho_core.is_staff %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Documents API</li>
                  <li><a href="{% url 'exam:api-keys' %}">Get API Keys</a></li>
                  <li><a href="{% url 'api-exam:schema' %}">API schema</a></li>
                  {% endif %}
                  {% if perms.ipho_core.is_staff or perms.ipho_core.is_marker %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Marking</li>
                  {% if perms.ipho_core.is_staff %}
                  <li><a href="{% url 'marking:import-exam' %}">Import exam</a></li>
                  <li><a href="{% url 'marking:submission-summary' %}">Submission summary</a></li>
                  {% endif %}
                  <li><a href="{% url 'marking:summary' %}">Summary</a></li>
                  <li><a href="{% url 'marking:moderation-index' %}">Moderation</a></li>
                  <li><a href="{% url 'marking:export' %}">Export markings</a></li>
                  <li><a href="{% url 'marking:progress' %}">Progress</a></li>
                  {% endif %}
                  {% if perms.ipho_core.is_staff %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Django admin</li>
                  <li><a href="{% url 'admin:index' %}">Admin interface</a></li>
                  <li><a href="{% url 'admin:ipho_exam_examaction_changelist' %}?action__exact=T&amp;o=-5">Exam submissions</a></li>
                  <li><a href="{% url 'impersonate' %}">Impersonate delegation</a></li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}

              <li><a href="{{ DOCS_URL }}">Documentation</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="navbar-text">{{ user.username }},
                <strong>
                {% if user.is_superuser %}
                admin
                {% elif perms.ipho_core.is_staff %}
                staff
                {% elif perms.ipho_core.is_delegation %}
                delegation
                {% elif perms.ipho_core.is_marker %}
                marker
                {% else %}
                user
                {% endif %}
                </strong></li>
              <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'django.contrib.auth.views.login' %}?next=/">Login</a></li>
            {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div>


      {% block content %}{% endblock %}

      <div class="footer">
          <hr />
          <div class="container">
              <p class="text-muted">Copyright © 2014 - 2017 <a href="http://oly-exams.org/">Oly Exams Team</a>. Version {{ VERSION }} - {{ VERSION_DATE }}.</p>
          </div>
      </div>

    <script src="{% static "jquery/js/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-ckeditor-modal-fix.js" %}"></script>
    {% block extra-script %}{% endblock %}
  </body>
</html>
