{% extends "base.html" %}
{% load static %}

{% block extra-head %}
<style>
.asteriskField {
    display: none;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1>Translation submissions</h1>
    </div>

    <div class="modal fade" id="submission-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div id="alerts-container"></div>

    <p class="lead">
        In this interface you assign which languages should be delivered to the students.
    </p>

    <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#submission-modal" data-remote="false" href="{% url 'exam:admin-submission-assign' exam_id=exam.pk %}"><i class="fa fa-plus"></i> Assign language</a>

    {% for ss in submissions %}
    <h4> {{ ss.student.first_name }} {{ ss.student.last_name }} ({{ ss.student.code }})
        <span class="label label-default">{{ ss.language.name }}</span>
        {% if ss.with_answer %}<span class="label label-primary">with answer sheets</span>{% endif %}
        <a class="btn btn-xs btn-danger" data-confirm="delete" href="#" title="Delete language assignment"><i class="fa fa-trash-o fa-fw"></i></a>
</h4>
    <table class="table">
      {% for q in exam.question_set.all %}
      <tr>
          <td>{{ q.name }}</td>
          <td>
              <a class="btn btn-xs btn-default" title="Print" href="#"><i class="fa fa-fw fa-print"></i></a>
              <a class="btn btn-xs btn-success" target="_blank" title="View PDF" href="#"><i class="fa fa-fw fa-file-pdf-o"></i></a>
          </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}

</div> <!-- /container -->

{% endblock %}

{% block extra-script %}
<script>
$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    $('#submission-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'html',
            success: function(data) {
                modal.find('form').attr('action', href);
                modal.find('.modal-title').html('Assign language to student');
                modal.find('.modal-body').html(data);
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    })

});
</script>
{% endblock %}
