{% extends "ipho_exam/base.html" %}
{% load static %}
{% load editor_extras %}

{% block extra-head %}
<link href="{% static "mathquill_alpha/mathquill.css" %}" rel="stylesheet">
<link href="{% static "bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" %}" rel="stylesheet">
<link href="{% static "noto/notosans.css" %}" rel="stylesheet">
{% if orig_font %}
<link href="{% static "noto/" %}{{ orig_font.css }}" rel="stylesheet">
{% endif %}
{% if trans_font %}
<link href="{% static "noto/" %}{{ trans_font.css }}" rel="stylesheet">
{% endif %}

<style>
span.dropdown {
    display: inline-block;
}
.title-dropdown .btn {
    padding: 0px 28px;
    padding: 0;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.title-dropdown .dropdown-menu {
    font-size: 20px;
}

.translate-original {
    font-family: "{{ orig_font.font }}";
}
.translate-foreign {
    font-family: "{{ trans_font.font }}";
}

.translation-field-nested .row {
    padding-left: 1em;
    padding-right: 1em;
}

.cke_textarea_inline {
/*    border:1px #000 solid;*/
}

.mathquill-rendered-math .mathquill-editable {
  min-width: 1cm;
}
.mathquill-editor {
  width:6.5in;
}
.field-figure img {
    max-height: 80px;
}
#figure-modal .modal-body img {
    max-width: 100%;
}

.rtl {
    direction: rtl;
}

.math-tex {
    position: relative;
}
.math-tex .btn {
    position: absolute;
    right: 1px;
    top: 0px;
    opacity: 0;
    z-index: 1000;
}
.math-tex:hover .btn {
    opacity: 1;
}


ins {
    color: #00f;
    font-decoration: underline;
    -moz-text-decoration-style: wavy;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
}
del {
    color: #f00;
    font-decoration: line-through;
}

body { margin-bottom: 70px; }
</style>

{% endblock %}


{% block breadcrumb %}
<li><a href="{% url 'exam:list' %}">Your translations</a></li>
<li class="active">Editor</li>
{% endblock %}

{% block pageheader %}
<div class="dropdown pull-right">
  <a class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
{% if exam %}
    {{ exam.name }}
{% else %}
    Select exam
{% endif %}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
{% for ex in exam_list %}
    <li {% if exam == ex %} class="active" {% endif %}><a href="{% url 'exam:editor-exam' exam_id=ex.pk %}">{{ ex.name }}</a></li>
{% endfor %}
  </ul>
</div>
<h1>Exam editor</h1>
{% endblock %}

{% block exam-content %}
    <div class="modal fade" id="figure-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
              <div class="modal-body text-center"></div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="language-modal" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="copy-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 Copy all</h4>
          </div>
              <div class="modal-body">
                <p class="alert alert-warning">
                  By copying the original version you erase all your changes.<br />
                  This operation cannot be undone, <strong>are you sure?</strong>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning">Confirm</button>
              </div>
        </div>
      </div>
    </div>

    <div id="alerts-container">
        {% if warning %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning:</strong> {{ warning }}
            </div>
        {% endif %}
    </div>

<div class="modal fade" id="ipho_exam-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Do you want to save changes before leaving?</h3>
      </div>
      <div class="modal-body">
        <p>Your changes will be lost if you don't save them.</p>
      </div>
      <div class="modal-footer">
          <div class="pull-left">
              <button type="button" class="btn btn-default" data-action="discard">Discard changes</button>
          </div>
          <div class="pull-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-action="save">Save changes</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="checksum-modal">
  <div class="modal-dialog">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <h3 class="modal-title"> Lost sync with the server!</h3>
      </div>
      <div class="modal-body panel-body">
        <p>The application lost the synchronization with the server. This is very likely because some other user edited the same translation.</p>
        <p>In order to avoid working on the same translation, you are advised to define a second language, e.g. Swiss German (A) and Swiss German (B). Thanks to the copy buttons you will later be able to merge the two partial works.</p>
        <p class="alert alert-danger"><i class="fa fa-exclamation-circle fa-2x pull-left"></i> Your changes could not be saved, please <strong>reload</strong> the page to continue editing this translation.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div class="page-header">
  <h2>Exam editor :

  <span class="title-dropdown dropdown">
    <a class="btn btn-link btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Theory Exam
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Demo Exam</a></li>
      <li class="active"><a href="#">Theory Exam</a></li>
      <li><a href="#">Experimental Exam</a></li>
    </ul>
  </span>
  </h2>
</div> -->

<ul class="nav nav-tabs">
    {% for q in exam.question_set.all %}
        {% if q.has_published_version %}
            <li {% if question == q %} class="active" {% endif %}>
                {% if orig_lang and trans_lang %}
                    <a href="{% url 'exam:editor-orig-lang' exam_id=exam.pk question_id=q.pk orig_id=orig_lang.pk lang_id=trans_lang.pk %}">{{ q.name }}</a>
                {% elif orig_lang %}
                    <a href="{% url 'exam:editor-orig' exam_id=exam.pk question_id=q.pk orig_id=orig_lang.pk %}">{{ q.name }}</a>
                {% else %}
                    <a href="{% url 'exam:editor-question' exam_id=exam.pk question_id=q.pk %}">{{ q.name }}</a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% if question %}
    <form method="post" action="{{ request.path }}" charset="utf8" id="question-form">
        {% csrf_token %}
        <input type="hidden" name="checksum" value="{{ checksum }}" />
        <h3>{{ question.name }}</h3>

        <div class="row">
            <div class="col-xs-5">
                <h4>Original:
                <span class="dropdown">
                  <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ orig_lang.name }}
                    {% if orig_lang.versioned %}<span class="badge">v{{ orig_lang.version }}</span><span class="label label-default">{{ orig_lang.tag|default:'' }}</span>{% endif %}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      {% for lang_group in question_langs|dictsort:"order" %}
                          {% for l in lang_group.list %}
                              <li {% if orig_lang == l %} class="active" {% endif %}>
                                  {% if trans_lang %}
                                  <a href="{% url 'exam:editor-orig-lang' exam_id=exam.pk question_id=question.pk orig_id=l.pk lang_id=trans_lang.pk %}">
                                  {% else %}
                                  <a href="{% url 'exam:editor-orig' exam_id=exam.pk question_id=question.pk orig_id=l.pk %}">
                                  {% endif %}
                                      {{ l.name }} {% if lang_group.name != 'own' %}({{ l.delegation.country }}){% endif %}
                                      {% if l.versioned %}<span class="badge">v{{ l.version }}</span><span class="label label-default">{{ l.tag|default:'' }}</span>{% endif %}
                                  </a></li>
                          {% endfor %}
                          {% if not forloop.last %}<li class="divider"></li>{% endif %}
                     {% endfor %}
                  </ul>
                </span>

                {% if orig_lang.versioned %}
                    <small>
                    Compare to:
                    <span class="dropdown">
                      <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                        {% if orig_diff %}v{{ orig_diff }} {{ orig_diff_tag }}{% endif %}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          {% for v,t in question_versions %}
                              <li {% if orig_diff == v %} class="active" {% endif %}>
                                  {% if trans_lang %}
                                  <a href="{% url 'exam:editor-origdiff-lang' exam_id=exam.pk question_id=question.pk orig_id=orig_lang.pk orig_diff=v lang_id=trans_lang.pk %}">
                                  {% else %}
                                  <a href="{% url 'exam:editor-origdiff' exam_id=exam.pk question_id=question.pk orig_id=orig_lang.pk orig_diff=v %}">
                                  {% endif %}
                                    v{{ v }} {{ t|default:'' }}
                                  </a>
                              </li>
                          {% endfor %}
                      </ul>
                    </span>
                    </small>
                {% endif %}
                </h4>
            </div>

            <div class="col-sm-2 text-center">
            </div>

            <div class="col-xs-5">
                <h4>Translate to:
                <span class="dropdown">
                  <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {% if trans_lang %}
                        {{ trans_lang.name }}
                    {% else %}
                        Select language
                    {% endif %}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      {% for l in own_lang %}
                          <li {% if trans_lang == l %} class="active" {% endif %}><a href="{% url 'exam:editor-orig-lang' exam_id=exam.pk question_id=question.pk orig_id=orig_lang.pk lang_id=l.pk %}">{{ l.name }}</a></li>
                      {% endfor %}
                  </ul>
                </span>
                {% if trans_lang %}
                <button class="btn btn-default" title="Language settings" data-toggle="modal" data-target="#language-modal" data-remote="false" href="{% url 'exam:language-edit' lang_id=trans_lang.pk %}"><i class="fa fa-cog"></i></button>
                {% endif %}
                <button type="button" class="btn btn-sm btn-default" title="Copy all blocks from the original version" data-toggle="modal" data-target="#copy-modal">
                  <i class="fa fa-clipboard" aria-hidden="true"></i>
                  <span class="glyphicon glyphicon-arrow-right"></span>
                  <i class="fa fa-clipboard" aria-hidden="true"></i>
                </button>

                </h4>
            </div>
        </div>


        <div class="translation-field-container">
            {% include 'ipho_exam/editor_field.html' with fields_set=content_set %}
        </div>

        {% if form %}
        <div class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <div class="navbar-left">
                <label class="navbar-text" style="font-weight:normal;">
                    <input type="checkbox" id="auto-save-checkbox" checked="checked" data-size="mini">
                    Auto-save.
                </label>
              <span class="navbar-text" id="save-status"></span>
            </div>
            <div class="navbar-right">
                <a class="btn btn-success navbar-btn" target="_blank" href="{% url 'exam:pdf' question_id=question.pk lang_id=trans_lang.pk %}"><i class="fa fa-fw fa-file-pdf-o"></i> View PDF</a>
                <button type="submit" class="btn btn-primary navbar-btn" data-toggle="tooltip" data-placement="top" title="ctrl + S" disabled="disabled"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>
          </div>
        </div>
        <div style="height:3000px"/>
        {% endif %}
    </form>
{% endif %}

{% endblock %}



{% block extra-script %}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            showMathMenu: false,
        });
    </script>
    <script src="{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "ckeditor/adapters/jquery.js" %}"></script>
    <script src="{% static "mathquill_alpha/mathquill.min.js" %}"></script>
    <script src="{% static "jquery-dirtyforms/jquery.dirtyforms.min.js" %}"></script>
    <script src="{% static "jquery-dirtyforms/plugins/jquery.dirtyforms.dialogs.bootstrap.min.js" %}"></script>
    <script src="{% static "moment.min.js" %}"></script>
    <script src="{% static "bootstrap-switch/js/bootstrap-switch.min.js" %}"></script>
    <script src="{% static "clipboard.min.js" %}"></script>
    <script>
        CKEDITOR.plugins.addExternal( 'Jsvk', '{% static "ckeditor_plugins/Jsvk/" %}', 'plugin.js' );
        CKEDITOR.plugins.addExternal( 'mathjax-mathquill', '{% static "ckeditor_plugins/mathjax-mathquill/" %}', 'plugin.js' );

        CKEDITOR.config.toolbar = [
                [ 'Bold', 'Italic', 'Underline', '-', 'Mathjax-mathquill', '-', 'Styles', '-', 'BidiLtr', 'BidiRtl', '-', 'Jsvk']
            ];
        CKEDITOR.config.forcePasteAsPlainText = true;
        CKEDITOR.config.resize_enabled = false;
        CKEDITOR.config.extraPlugins = 'Jsvk,autogrow,widget,bidi,stylescombo,mathjax-mathquill';
        CKEDITOR.config.removePlugins = 'mathjax,elementspath,contextmenu,tabletools,liststyle';
        // CKEDITOR.config.extraAllowedContent = 'span(math-tex)';
        CKEDITOR.config.width = '100%';
        CKEDITOR.config.autoGrow_onStartup = true;
        CKEDITOR.config.autoGrow_minHeight = 0;
        CKEDITOR.config.autoGrow_bottomSpace = 10;
        CKEDITOR.config.entities = false;
        CKEDITOR.config.htmlEncodeOutput = false;
        CKEDITOR.config.basicEntities = false;
        CKEDITOR.config.entities_latin = false;
        CKEDITOR.config.entities_greek = false;
        CKEDITOR.config.disableNativeSpellChecker = false;
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.mathJaxLib = '{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML';
        CKEDITOR.config.MathQuillLib = '{% static "mathquill_alpha/mathquill.min.js" %}';
        CKEDITOR.config.MathQuillCss = '{% static "mathquill_alpha/mathquill.css" %}';
        CKEDITOR.config.MathQuilljQuery = '{% static "jquery/js/jquery-1.11.2.min.js" %}';
        {% if trans_lang.direction == 'rtl' %}
        CKEDITOR.config.contentsLangDirection = 'rtl';
        {% endif %}
        CKEDITOR.config.jsvk_skin = "flat_gray";
        CKEDITOR.config.contentsCss = [ CKEDITOR.getUrl( 'contents.css' ), '{% static "noto/notosans.css" %}', '{% static "noto/" %}{{ trans_font.css }}' ];
        CKEDITOR.addCss("body{font-family:{{ trans_font.font }}, Noto Sans;}");
        CKEDITOR.stylesSet.add( 'my_styles', [
            { name: 'Language: LTR', element: 'span', attributes: { 'class': 'lang-ltr' } },
            { name: 'Language: RTL', element: 'span', attributes: { 'class': 'lang-rtl' } },
        ] );
        CKEDITOR.config.stylesSet = 'my_styles';


        all_editors = new Array();

        function content2math() {
            // convert equations for mathquill
            // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img class="mathImg" title="$1" src="http://latex.codecogs.com/svg.latex?$1" />');
            // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="mathquill-embedded-latex" data-cke-survive=1>$1</span>');

            // convert equations for mathjax
            // TODO: remove once the tests have been converted to \( \) format. $ $ is too dangerous, since it might delimit two prices in dollars.
            var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="math-tex">\\($1\\)</span>');
            $(this).html(newtext);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub, this]);
        }

        $(function(){
            // Get csrftoken
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('[data-toggle="tooltip"]').each(function () {
                if (navigator.platform.match("Mac")) {
                    $(this).attr('title', $(this).attr('title').replace('ctrl', '⌘'));
                }
            }).tooltip();


            function fallbackMessage(action) {
                var actionMsg = '';
                var actionKey = (action === 'cut' ? 'X' : 'C');
                if (/iPhone|iPad/i.test(navigator.userAgent)) {
                    actionMsg = 'No support :(';
                } else if (/Mac/i.test(navigator.userAgent)) {
                    actionMsg = 'Press ⌘-' + actionKey + ' to ' + action;
                } else {
                    actionMsg = 'Press Ctrl-' + actionKey + ' to ' + action;
                }
                return actionMsg;
            }
            function setTooltip(btn, message) {
              $(btn)
                .attr('data-original-title', message)
                .tooltip('show');
            }

            function hideTooltip(btn) {
              setTimeout(function() {
                $(btn).tooltip('hide');
              }, 1000);
            }
            function hideLongTooltip(btn) {
              setTimeout(function() {
                $(btn).tooltip('hide');
              }, 2000);
            }

            $('.translate-original .math-tex').each(function () {
                var content = $(this).html();
                $(this).prepend('<button class="btn btn-xs btn-default small" data-clipboard-snippet><i class="fa fa-clipboard" aria-hidden="true"></i></button>').children('[data-clipboard-snippet]').attr('data-clipboard-text', '<span class="math-tex">'+content+'</span>').tooltip({
                    trigger: 'click',
                    placement: 'bottom'
                });
            });

            var clipboard = new Clipboard('.btn[data-clipboard-snippet]', {
                text: function(trigger) {
                    return trigger.getAttribute('data-clipboard-text');
                }
            });

            clipboard.on('success', function(e) {
              setTooltip(e.trigger, 'Copied!');
              hideTooltip(e.trigger);
            });
            clipboard.on('error', function(e) {
              setTooltip(e.trigger, fallbackMessage(e.action));
              hideLongTooltip(e.trigger);
            });


            $(".translate-original").each(content2math);
            $(".translate-foreign").each(content2math);

            // $('body').on('click', ':not(.math-tex *)', function (evt) {
            //   if (evt.target != this) return;
            //   $('.math-selected').removeClass('math-selected');
            // });
            // $("body").on('click', '.math-tex', function (evt) {
            //   $('.math-selected').removeClass('math-selected');
            //   $(this).addClass('math-selected');
            // });

            $(".translate-copy-button").click(function( event ) {
                field_id =  $(this).attr('id').replace('-copy', '');
                orig = '#' + $(this).attr('id').replace('-copy', '-original');
                if (field_id in all_editors)
                    all_editors[field_id].setData($(orig).data('original-text'));
                else
                    $('#'+field_id+'-translate input[type="text"]').val($(orig).data('original-text'));
                event.preventDefault();
            });

            $('#copy-modal .btn-warning').on('click', function (evt){
              evt.preventDefault();
              $(".translate-copy-button").click();
              $('#copy-modal').modal('hide');
            });

            $('.translate-foreign textarea').each(function() {
                myid = $(this).parent().attr('id').replace('-translate', '');
                // all_editors[myid] = CKEDITOR.replace(this);
                all_editors[myid] = $(this).ckeditor().editor;
                var textarea = $(this);
                all_editors[myid].on('change', function() { this.updateElement(); textarea.change(); });
                all_editors[myid].on('paste', function( evt ) {
                  var htmlData = $.parseHTML(evt.data.dataValue)[0].textContent;
                  if (htmlData.startsWith('<span class="math-tex"')) {
                    // Parse the HTML string to pseudo-DOM structure.
                    var fragment = CKEDITOR.htmlParser.fragment.fromHtml( htmlData ),
                      writer = new CKEDITOR.htmlParser.basicWriter();
                    fragment.writeHtml( writer );
                    evt.data.dataValue = writer.getHtml();
                  }
                } );
            });

            // Figure preview
            $('#figure-modal').on('show.bs.modal', function (event) {
                var modal = $(this);
                var button = $(event.relatedTarget); // Button that triggered the modal

                var href = button.attr('href');
                if (typeof href !== typeof undefined && href !== false) {
                  modal.find('.modal-body').html('<img src="'+href+'" />');
                } else {
                  var img_url = button.data('base-url');
                  var figparams = button.data('figparams');
                  if (Object.keys(figparams).length > 0) {
                    fig_query = new Object;
                    for (k in figparams) {
                      fig_query[k] = $('#id_'+figparams[k]).val();
                    }
                    img_url += '?' + $.param(fig_query);
                  }
                  modal.find('.modal-body').html('<img src="'+img_url+'" />');
                }
            });

            /// Language modal

            var ipho_languages = null;
            $.ajax({
                url: '{% static 'languages.json' %}',
                type: 'GET',
            }).done(function (data) {
                ipho_languages = data;
            });
            $(document).on('change', 'select[name="style"]', function(evt) {
                if (ipho_languages !== null) {
                    var style = $('select[name="style"]').val();
                    if (style in ipho_languages) {
                        var polyglossia = ipho_languages[style]['polyglossia'];
                        if (polyglossia == null) polyglossia = 'custom';
                        var polyglossia_options = ipho_languages[style]['polyglossia_options'];
                        if (polyglossia_options == null) polyglossia_options = '';
                        $('select[name="direction"]').val(ipho_languages[style]['direction']);
                        $('select[name="polyglossia"]').val(polyglossia);
                        $('input[name="polyglossia_options"]').val(polyglossia_options);
                        $('select[name="font"]').val(ipho_languages[style]['fonts'][0]);
                    }
                }
            });

            // Language modal
            $(document).on('submit', '#language-modal form', function(evt) {
                var form = evt.target;
                var $form = $(form);
                evt.preventDefault();
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: $form.serialize(),
                    success: function(data) {
                        if (!data['success']) {
                            $('#language-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                            return;
                        }

                        $('#language-modal').modal('hide');
                        $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
                    }
                });
            });

            $('#language-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var href = button.attr('href');
                var modal = $(this);

                modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
                modal.find('.modal-body').html('');

                $.ajax({
                    url: href,
                    dataType: 'json',
                    success: function(data) {
                        modal.find('.modal-title').text(data['title']);
                        modal.find('form').attr('action', href);
                        modal.find('.modal-body').html(data['form']);
                        modal.find('button[type="submit"]').text(data['submit']);
                        modal.find("[data-toggle=popover]").popover(); // activate popover
                    },
                });
            })


            /// Saving methods
            var server_date;
            var server_offset = 0;
            $.get("{% url 'exam:time' %}", function(data){
               server_date = data;
               server_offset = moment(server_date).diff(new Date());
               console.log("Server time difference: "+server_offset);
            });

            var last_saved = new Date("{{ last_saved.isoformat }}");
            var saving = false;
            function updateDocumentStatus() {
                var status_text = (saving) ? 'Saving...' : 'Last saved: <abbr data-toggle="tooltip" title="'+last_saved.toString()+'" >'+moment(last_saved).from(moment()+server_offset)+'</abbr>.';
                $('#save-status')
                    .html(status_text)
                    .find('[data-toggle="tooltip"]').tooltip();
            }
            updateDocumentStatus();
            setInterval(updateDocumentStatus, 30000);

            var checkHTML = function(html) {
              var doc = document.createElement('div');
              doc.innerHTML = html;
              return ( doc.innerHTML === html );
            }
            function validate_blocks() {
              for (k in all_editors) {
                if (!checkHTML(all_editors[k].data()))
                  alert('Problem with block '+k+'. The saving process has been stopped.');
              }
            }
            $(document).on('submit', '#question-form', function(evt) {
                var form = evt.target;
                var $form = $(form);
                var $button = $form.find('button[type="submit"]');
                evt.preventDefault();

                saving = true;
                $button.prop('disabled', true);
                $button.tooltip('destroy');
                $form.dirtyForms('setClean');
                updateDocumentStatus();

                var data = new FormData($form.get(0));
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        saving = false;
                        if (data['success']) {
                            last_saved = new Date(data['last_saved']);
                            $('input[name="checksum"]').val(data['checksum']);
                            updateDocumentStatus();
                        } else {
                          console.log('Saving failed.');
                          if (data['checksum'] != $('input[name="checksum"]').val()) {
                            clearInterval(autoSaveTimer);
                            $('#checksum-modal').modal({backdrop: 'static', keyboard: false});
                          }
                        }
                    }
                });
            });
            $(document).keypress(function(event) {
                if (!(event.which == 115 && (navigator.platform.match("Mac") ? event.metaKey : event.ctrlKey)) && !(event.which == 19)) return true;
                event.preventDefault();
                $('#question-form').submit();
                return false;
            });

            /// For custom dialog: https://github.com/NightOwl888/jquery.dirtyforms.dialogs.bootstrap.dist#example
            // $.DirtyForms.dialog = {
            //             dialogID: 'dirtyform-modal',
            //             titleClass: 'custom-title',
            //             messageClass: 'custom-message',
            //             proceedButtonClass: 'custom-proceed',
            //             stayButtonClass: 'custom-stay'
            //         }
            $.DirtyForms.title = "Do you want to save changes before leaving?"
            $.DirtyForms.message = "Your changes will be lost if you don't save them."
            $('#question-form').dirtyForms({ ignoreSelector: '#auto-save-checkbox' });
            $('#question-form').on('dirty.dirtyforms', function(evt) {
                var $form = $(evt.target);
                $form.find('button[type="submit"]').removeProp('disabled').tooltip();
            });

            function autoSave() {
                $form = $('#question-form');
                if (!saving && $form.dirtyForms('isDirty')) {
                    $form.submit();
                }
            }
            var autoSaveTimer = setInterval(autoSave, 20000);
            $('#auto-save-checkbox').bootstrapSwitch().on('switchChange.bootstrapSwitch', function(event, state) {
                var $checkbox = $(this);
                if (state) {
                    autoSaveTimer = setInterval(autoSave, 20000);
                } else {
                    clearInterval(autoSaveTimer);
                }
            });
        });

    </script>

{% endblock %}
