{% extends "ipho_exam/base.html" %}
{% load static %}

{% block extra-head %}
<style>
.asteriskField {
    display: none;
}

</style>
{% endblock %}

{% block breadcrumb %}
<li class="active">Exam feedbacks</li>
{% endblock %}

{% block pageheader %}<h1>Exam feedbacks</h1>{% endblock %}

{% block exam-content %}
    <p class="lead">
        Use the exam feedbacks to submit any comment you want to report to the organizers.
    </p>
    <ul>
        <li>Exams fedbacks are available only for a limited time, after the official presentation and before the final discussion.</li>
        <li>Feebacks are shown to all delegations.</li>
        <li>The first column shows the status of your report. It will change from <mark>Submitted</mark> to <mark>In progress</mark> and finally to <mark>Resolved</mark>, then the organizers take care of it.</li>
    </ul>

    <div class="modal fade" id="feedback-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">Add translation</h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div id="alerts-container"></div>

    {% for ex in exam_list %}
    <h3>
        {{ ex.name }}
        {% if is_delegation %}
        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#feedback-modal" data-remote="false" href="{% url 'exam:feedbacks-add' exam_id=ex.pk %}"><i class="fa fa-plus"></i> Add feedback</a>
        {% endif %}
    </h3>
    <table class="table table-striped">
      <tr>
          <th>#</th>
          <th>Status</th>
          <th>Delegation</th>
          <th>Question</th>
          <th></th>
          <th>Comment</th>
          <th>Timestamp</th>
          <th>Actions</th>
      </tr>
      <tbody id="exam-tbody-{{ ex.pk }}"></tbody>
    </table>
    {% endfor %}

{% endblock %}

{% block extra-script %}
<script>
$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).on('submit', '#feedback-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();

        var data = new FormData($form.get(0));
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#translation-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                    return;
                }

                update_feedbacks(data['exam_id']);

                $('#feedback-modal').modal('hide');
                $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');

            }
        });
    });


    $('#feedback-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('button[type="submit"]').text(data['submit_text']);
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    })

    function update_feedbacks(tid) {
        $.ajax({
            method: "GET",
            url: "{% url 'exam:feedbacks-list' %}/",
            data:{exam_id:tid},
            dataType: "html",
        }).done(function( data ) {
            $("#exam-tbody-"+tid).html(data);
        });
    }

    {% for ex in exam_list %}
    update_feedbacks({{ ex.pk }});
    {% endfor %}


});
</script>
{% endblock %}
