{% extends "base.html" %}
{% load static %}

{% block extra-head %}
<style>
.asteriskField {
    display: none;
}
#figure-list img {
    display: block;
/*    max-width:230px;*/
    max-height:50px;
    width: auto;
    height: auto;
}
#preview-modal .modal-body img {
    max-width:100%;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1>Exams Figures</h1>
    </div>

    <div class="modal fade" id="figure-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="" enctype="multipart/form-data">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="preview-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
              <div class="modal-body text-center"></div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="model-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
              <p>The figure will be deleted permanently.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-confirm="delete"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div id="alerts-container">
        {% if success %}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
          {{ success|safe }}
        </div>
        {% endif %}
    </div>

    <a class="btn btn-success" data-toggle="modal" data-target="#figure-modal" data-remote="false" href="{% url 'exam:figure-add' %}"><i class="fa fa-plus fa-fw"></i> Add Figure</a>

    <table id="figure-list" class="table table-striped">
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Parameters</th>
          <th>Preview</th>
          <th>Actions</th>
      </tr>
      {% for fig in figure_list %}
          <tr id="fig-{{ fig.pk }}">
              <td>{{ fig.pk }}</td>
              <td id="fig-{{ fig.pk }}-name">{{ fig.name }}</td>
              <td id="fig-{{ fig.pk }}-params">{{ fig.params }}</td>
              <td><a data-toggle="modal" data-target="#preview-modal" data-remote="false" href="{% url 'exam:figure-export' fig_id=fig.pk %}" data-figid="{{ fig.pk }}"><img src="{% url 'exam:figure-export' fig_id=fig.pk %}" alt="{{ fig.name }}" /></a></td>
              <td>
                <div class="btn-toolbar">
                  <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#figure-modal" data-remote="false" href="{% url 'exam:figure-edit' fig_id=fig.pk %}"><i class="fa fa-pencil fa-fw"></i></a>
                  <a class="btn btn-sm btn-danger" href="{% url 'exam:figure-delete' fig_id=fig.pk %}" data-figid="{{ fig.pk }}" data-toggle="modal" data-target="#delete-modal" data-remote="false"><i class="fa fa-trash-o fa-fw"></i></a>
                </div>
              </td>
          </tr>
      {% endfor %}
    </table>

</div> <!-- /container -->

{% endblock %}

{% block extra-script %}
<script>
$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Figure preview
    $('#preview-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var figid = button.data('figid');
        var href = button.attr('href');
        var modal = $(this);
        var name = $('#fig-'+figid+'-name').text();
        var params = $('#fig-'+figid+'-params').text().split(',');

        modal.find('.modal-title').text(name);
        modal.find('.modal-body').html('<div style="margin-bottom:1em;"><img id="figpreview" src="'+href+'" alt="'+name+'" /></div>');

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
        var inputs = '';
        for (i in params) {
            inputs += '<div class="form-group">' +
                        '<label for="figparam-'+params[i]+'" class="col-sm-3 control-label">'+capitalizeFirstLetter(params[i])+'</label>' +
                        '<div class="col-sm-9">' +
                            '<input type="text" class="form-control" id="figparam-'+params[i]+'" name="'+params[i]+'" placeholder="'+capitalizeFirstLetter(params[i])+'" />' +
                        '</div>' +
                      '</div>';
        }
        inputs = '<div class="form-horizontal">'+inputs+'</div>';
        modal.find('.modal-body').append(inputs);

        modal.find('.modal-body input').on('keyup', function () {
            var query = modal.find('.modal-body input').serialize();
            modal.find('.modal-body img#figpreview').attr('src', href+'?'+query);
        });


    });


    // Figure modal
    $(document).on('submit', '#figure-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();

        var data = new FormData($form.get(0));
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#figure-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                    return;
                }

                var row_content = '';
                row_content += '<td>'+data['figid']+'</td>'+
                    '<td id="fig-'+data['figid']+'-name">'+data['name']+'</td>'+
                    '<td id="fig-'+data['figid']+'-params">'+data['params']+'</td>'+
                    '<td>'+
                        '<a data-toggle="modal" data-target="#preview-modal" data-remote="false" href="'+data['src']+'" data-figid="'+data['figid']+'"><img src="'+data['src']+'" alt="'+data['name']+'" /></a>'+
                    '</td>';
                row_content += '<td><div class="btn-toolbar">'+
                        '<a class="btn btn-sm btn-default" data-toggle="modal" data-target="#figure-modal" data-remote="false" href="'+data['edit-href']+'"><i class="fa fa-pencil fa-fw"></i></a>'+
                        '<a class="btn btn-sm btn-danger" href="'+data['delete-href']+'" data-figid="'+data['figid']+'"  data-toggle="modal" data-target="#delete-modal" data-remote="false"><i class="fa fa-trash-o fa-fw"></i></a>'+
                    '</div></td>';

                if (data['type'] == 'add') {
                    var row = '<tr id="fig-'+data['figid']+'">'+row_content+'</tr>';
                    $('#figure-list').append(row);
                } else {
                    $('#fig-'+data['figid']).html(row_content);
                }

                $('#figure-modal').modal('hide');
                $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
            }
        });
    });

    $('#figure-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('button[type="submit"]').text(data['submit']);
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    });

    // Delete
    $(document).on('click', '#delete-modal button[data-confirm="delete"]', function(evt) {
        evt.preventDefault();
        var modal = $('#delete-modal');

        $.ajax({
            url: modal.data('delete-href'),
            type: 'get',
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (data['success']) {
                    $('#fig-'+modal.data('figid')).remove();
                }
                modal.data('figid', null);
                modal.data('delete-href', null);
                modal.modal('hide');
            }
        });
    });
    $('#delete-modal').on('show.bs.modal', function (event) {
        var modal = $(this);
        var button = $(event.relatedTarget); // Button that triggered the modal
        modal.data('figid', button.data('figid'));
        modal.data('delete-href',button.attr('href'));
    });


});
</script>
{% endblock %}
