{% extends "ipho_exam/base.html" %}
{% load static %}

{% block extra-head %}
<style>
.asteriskField {
    display: none;
}

content-field-nested .field-content {
    margin-left: 1em;
    margin-right: 1em;
}
.field-content {
    border: 1px solid #717171;
    border-radius: 2px;
    margin: 1em 0;
    padding: 5px;
}
.cke_textarea_inline {
/*    border:1px #000 solid;*/
}

.field-figure img {
    max-height: 140px;
}
ins {
    color: #00f;
    font-decoration: underline;
    -moz-text-decoration-style: wavy;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
}
del {
    color: #f00;
    font-decoration: line-through;
}

</style>
{% endblock %}

{% block breadcrumb %}
<li class="active">Your translations</li>
{% endblock %}

{% block pageheader %}<h1>Your Translations</h1>{% endblock %}

{% block exam-content %}
    <div class="modal fade" id="translation-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">Add translation</h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="upload-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="import-modal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div id="alerts-container"></div>

    {% for ex in exam_list %}
    <h3>
        {{ ex.name }}
        {% if ex.is_active %}
        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#translation-modal" data-remote="false" href="{% url 'exam:add-translation' exam_id=ex.pk %}"><i class="fa fa-plus"></i> Add translation</a>
        {% endif %}
    </h3>
    <table class="table table-striped">
      <tr>
          <th>Question</th>
          <th>Language</th>
          <th>Last modified</th>
          <th>Status</th>
          <th>Actions</th>
      </tr>
      <tbody id="exam-tbody-{{ ex.pk }}"></tbody>
    </table>
    <hr />
    {% endfor %}

{% endblock %}

{% block extra-script %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showMathMenu: false,
    });
</script>
<script src="{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML"></script>

<script>
$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Figure modal
    $(document).on('submit', '#translation-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();

        var data = new FormData($form.get(0));
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#translation-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                    return;
                }
                update_questions(data['exam_id']);

                $('#translation-modal').modal('hide');
                if (data['added_all']) {
                    $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
                }
                else {
                    $('#alerts-container').prepend('<div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
                }
            }
        });
    });

    $('#translation-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');
        modal.find('.modal-footer').addClass('hide');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('.modal-footer').removeClass('hide');
                modal.find('button[type="submit"]').text(data['submit_text']);
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    })


    function update_questions(tid) {
        $.ajax({
            method: "GET",
            url: "{% url 'exam:list' %}/",
            data:{exam_id:tid},
            dataType: "html",
        }).done(function( data ) {
            $("#exam-tbody-"+tid).html(data);
        });
    }

    {% for ex in exam_list %}
    update_questions({{ ex.pk }});
    {% endfor %}


    /// Upload modal
    function updateProgress( evt ) {
        if ( evt.lengthComputable ) {
            var percentComplete = evt.loaded / evt.total * 100;
            $('#upload-progress').width(percentComplete+'%').text(Math.round(percentComplete)+'%');
        } else {
            $('#upload-progress').width('100%').text('loading...');
        }
    }

    $(document).on('submit', '#upload-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();

        var data = new FormData($form.get(0));
        $(this).find('button').prop("disabled",true);
        $(this).find('.modal-body').children().hide();
        $(this).find('.modal-body').append('<div class="progress"><div id="upload-progress" class="progress-bar" style="width: 0%;">0%</div></div>');
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            xhr: function() {
                myXhr = $.ajaxSettings.xhr();
                myXhr.upload.onprogress = updateProgress;
                // myXhr.addEventListener( "progress" , updateProgress , false );
                return myXhr;
            },
            success: function(data) {
                if (!data['success']) {
                    $('#upload-modal .modal-body').html(data['form']);
                    $('#upload-modal .modal-body button').prop("disabled",false);
                    return;
                }
                $('#upload-modal').modal('hide');
                $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
            }
        });
    });

    $('#upload-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('button').prop("disabled",false);
                modal.find('button[type="submit"]').text(data['submit']);
            },
        });
    });


    function content2math() {
        // convert equations for mathquill
        // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img class="mathImg" title="$1" src="http://latex.codecogs.com/svg.latex?$1" />');
        // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="mathquill-embedded-latex" data-cke-survive=1>$1</span>');

        // convert equations for mathjax
        // TODO: remove once the tests have been converted to \( \) format. $ $ is too dangerous, since it might delimit two prices in dollars.
        var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="math-tex">\\($1\\)</span>');
        $(this).html(newtext);
        MathJax.Hub.Queue(["Typeset",MathJax.Hub, this]);
    }

    $(document).on('submit', '#import-modal form', function(evt) {
      var form = evt.target;
      var $form = $(form);
      evt.preventDefault();

      var data = new FormData($form.get(0));
      $.ajax({
          url: form.action,
          type: form.method,
          data: data,
          cache: false,
          processData: false,
          contentType: false,
          success: function(data) {
            var modal = $('#import-modal');
            if (!data['success']) {
              modal.find('.modal-title').text(data['title']);
              modal.find('form').attr('action', data['href']);
              modal.find('.modal-body').html(data['form']);
              modal.find('button').prop("disabled",false);
              modal.find('button[type="submit"]').text(data['submit']);
              modal.find('.modal-footer').removeClass('hide');
              modal.find(".content-old").each(content2math);
              modal.find(".content-new").each(content2math);
              return;
            }
            modal.modal('hide');
            $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
            }
        });
    });

    $('#import-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');
        modal.find('.modal-footer').addClass('hide');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('button').prop("disabled",false);
                modal.find('button[type="submit"]').text(data['submit']);
                modal.find('.modal-footer').removeClass('hide');
            },
        });
    });

});
</script>
{% endblock %}
